
/*Essa parte é pra retirar os styles padrões que vem no navegador↓↓↓↓↓↓↓*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

ul{
    list-style: none;
}
/*Essa parte é pra retirar os styles padrões que vem no navegador↑↑↑↑↑↑↑*/

/*Essa aparte se refere ao corpo do site↓↓↓↓*/
body {
    background-image: url(./assets/bg.jpg) ;
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #120530;
}

body * {
    font-family: 'Inter',sans-serif;
    line-height: 160%;
}

/*Colocar borda para ver que que ta pegando e onde ta oq 
main * {
    border: 1px solid red;
}
*/

header{
padding-top: 32px;
height: calc(120px-32px);
}

header div{
    width: 200px;
    margin: auto;
    /*Aplicando animation - order :quando tempo gasta/ quanto tempo delay/ backward = esperar o delay pra executar a animation*/
    animation: fromtop .7s backwards;
    animation-delay: .3s;
   
    
}

header div img{
    transition: transform .3s;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    border-radius: 50%;
    padding: 4px

}

header div img:hover{
    transform: scale(1.1);

}

header img {
    width: 100%;
    border-radius: 50%;


}


main{
    max-width: 580px;
    width: 90%;
    margin: auto;

/*"display and gap" só para saltar um espaço a cada sessão↓↓↓↓*/
    display: grid;
    gap: 24px;

    /*Distancia da margem do topo e do final da pagina */
    margin-top: 32px;
    margin-bottom: 80px;

}



/*Essa aparte se refere as seções do site↓↓↓↓*/

section{
    color: white;

/*Config da borda gradiente ↓↓↓*/
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
   padding-top: 4px;/*Para a bordar aparecer*/
   border-radius: 8px;
   animation: frombottom .7s backwards;
}


/*Child serve para se referir a qual(ordem) dos 'section' é pra fazer uma tarefa em especifico*/

section:nth-child(1){
    animation-delay: .3s;
}

section:nth-child(2){
    animation-delay: .6s;
}

section:nth-child(3){
    animation-delay: .9s;
}


section div{
    background-color: #162344;
    padding: 32px;/*Borda ao redor da sessão*/
    padding-top: 24px;/*borda do topo menor*/
    border-radius: 8px;
}

section h2{
letter-spacing: -0.47px;
}

section p{

    letter-spacing: -0.18px;
    color: #A1A1AA;
}

/*Esta parte se refere a lista >>>>>> ALTEREI A TABELA, E NÃO OS ITENS DA TABELA ↓↓↓↓ <<<<<*/
ul{
    display: flex;
    flex-wrap: wrap; /*Jogar os itens da lista para baixo se não couber na pagina*/
    gap: 16px;/*Espaço na horizontal*/
    margin-top: 24px;/*Espaço na vertical*/
}

ul li{
    transition: transform .3s;
}

ul li:hover{
    transform: scale(1.1);
}



.movies_like img{
    border-radius: 10px;
}

.movies_surprise img{
    border-radius: 10px;
}

/*Transition*/

@keyframes fromtop{
    from{
        /*translateY = eixo Y/ eixo vertical*/
        transform: translateY(-30px);
        opacity: 0;
    }


    to{
        opacity: 1;
        transform: translateY(0);

    }
}

@keyframes frombottom{
    from{
        transform: translateY(+30px);
        opacity: 0;
    }

    to{transform: translateY(0);
        opacity: 1;

    }

}

